body {
  margin: 50px;
  background-image: url("/images/trainers.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "m f f f f f f f f f f f";
}
h1 {
  color: cornflowerblue;
}

.header {
  grid-area: h;
  text-align: center;
}
.menu {
  grid-area: m;
}
.content {
  grid-area: c;
}

.footer {
  grid-area: f;
  margin-left: auto;
  display: flex;
}

.info {
  margin-left: 25px;
  color: rgb(0, 0, 0);
}
